@charset "UTF-8";
@import url(hhttps://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap);
         /* google雲端字體*/
/* CSS Document */

/* RESET */
*{
    font-family:'EB Garamond',serif ;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/*超連結設定*/
a{
	color: #9a948d;
	text-decoration: none;
}

a:hover{
	color:#e5ec9e;
	text-decoration: none;
}

/* header 導覽列 */
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
.navigation { 
    display: flex;
    background-color: #2C2A2A;
    height: 80px;
    margin: 0;
    padding: 1px;   
    position: relative;
    justify-content: space-around;
    align-items: center;
}
.navigation .logo img{
    width: 75px;
    height: 75px;
    /* border: 1px solid red; */
}
.navigation ul li {
    list-style-type: none;
    display: inline-block;
    margin: 16px 16px;
    /* border: 1px solid red; */
}
.navigation .icon {
    width: 150px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.navigation .icon img{
    width: 16px;
    height:16px;
}
/* border隔開，也可改用偽元素 */
.navigation .icon .bag{
    border-left:1.25px solid white;
    padding-left: 25px;  
    border-right:1.25px solid white;
    padding-right: 25px;  
}
.navigation .icon:hover {
    background-blend-mode: color red;
}
.navigation ul li a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.navigation ul li a:hover {
    color: #e5ec9e;
}
.navigation ul li a::after{
    content:"";
    display:block;
    width: 0;
    height: 1px;
    background-color: #e5ec9e;
    position:absolute;
    right: 0;
    transition:.4s;
}
.navigation ul li a:hover::after {
    color:#e5ec9e;
    width: 100%;
    left: 0;
}


/* 主要大圖視覺 */
.mainvisual {
    background-color: #fff;
    position: relative;
}
.mainvisual img {
    /* background-image: url(/IMG/contactus-mainvisual.png); */
    display: block;
    margin:  auto;
    width: 100%;
    height: auto;
    /* margin-top:-5% ; */
    height: 86vh
}
.mainvisual .wop{
    /* position: absolute; */
    width: 100%;
    height: fit-content;
    /* right: 270px; */
    margin-top:-3.8% ;
    color: #fff;
    /* border: 1px solid red;  */
}

/* body */
body {
	font-family:"EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap";/* google雲端字體*/
    margin: 0;
    -webkit-text-size-adjust: 100%;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.2rem;
    background-color: #FFFAFA;
}

/* 標題 */
h1 {
    font-size: 120px;
    font-weight: 450;
    color: #faf8f6;
    text-align: center;
    text-shadow: 0px -4px 6px rgba(37, 31, 31, 0.7);
}
/* 標題 */
h2{
	font-size: 32px;
	color: #5f0808;
    text-align: center;
    padding-bottom: 5%;
    position: relative;
}
/**
.dotline::before {
    width: 80%;
    height: 1.25px;
    background-image: linear-gradient(to left, #390d0d 0%, #713838 50%, transparent 50%); /** toleft横向 to bottom纵向**/
    /**background-size: 8px 1px;
    background-repeat: repeat-x; /** x轴上的渐变 横向的虚线 **/
    /**position: absolute;
    content: '';
    top: 80px;
    left:15%;
} **/
/**
.dotline::after {
    width: 80%;
    height: 1.25px;
    background-image: linear-gradient(to right, #390d0d 0%, #713838 50%, transparent 50%); /** toleft横向 to bottom纵向**/
    /**background-size: 8px 1px;
    background-repeat: repeat-x; /** x轴上的渐变 横向的虚线 **/
   /** position: absolute;
    content: '';
    top: 100px;
    right: 15%;
}**/
h3 {
    padding-left: 20%;/* 標題三左側設定間距 */
}
/*選單設定*/
#newschoice{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.choice{
    padding-top: 5%;
    margin-left:15% ;

}
.choice .ct{
    background-color:  #512d2d;
    height: 25px;
    width: 150px;
    color: white;
    text-align: center;
    margin-right: 10px;
   
}
.choice .cd{
    background-color:  #512d2d;
    height: 25px;
    width: 150px;
    color: white;
    text-align: center;
    margin: 10px;
   
}
/*開始設定news*/
.hnews {
    max-width: 70%;
    margin: auto;  /* 左右置中 */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    position: relative;
}
.hnewsl,
.hnewsm,
.hnewsr{
    width: 50%;
    text-align: left;
    margin: 30px;
}
.hnewsl img,
.hnewsm img,
.hnewsr img{
    width:100%;
    height: 60%;
    border-radius:10% 10% 0 0;
}
.blanknews{
    padding: 10px;
    margin-top: -10px;
    border: 1px solid black;
    box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: white;
    box-shadow: 50%;
}
.hnews .tag > a{
    width: fit-content;
    padding: 0px 10px;
    height: 22px;
    border-radius:5px;
    /* margin-left: 2%;*/
    margin-top: 2%; 
    padding-left: 5%; 
    font-size: 14px;
    background-color: #331919;
    color: white;
    display: flex;
    left: 1%;
    align-items: center;
}
.hnews .tags {
    width:fit-content;
    padding: 0px 10px;
    height: 21px;
    border-radius:5px;
    /* margin-left: 5%;*/
    margin-top: 5%; 
    font-size: 14px;
    background-color: #a55e5e;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}
.hnews .tags >p {
    font-size: 14px;
    color: rgb(241, 235, 235);
    display: flex;
    justify-content: flex-start;
    padding-bottom: 4px;
}
.hnews p {
    width: 100%;
    font-size: 14px black;
    padding-top: 5px;
    letter-spacing: 0;
}

.swbtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.swbtn{
    display: flex;
}
.swbtn .pn1,.pn2 {
    width: 35px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    color: #392a2a;
    background-color: transparent;
    border: 1px solid #4c3838;
    transition: all .2s linear;
}
.swbtn .pn1:hover,.pn2:hover{
    background-color: #250a0a;
    color: #f9f7f7;
}

.swbtn .pn1 > a,
    .pn2 >a {
	text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swbtn .pn1 > a:hover,
.pn2 >a:hover {
	color:#f9fbfb;
	text-decoration: none;
}
.swbtn .al,.ar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #250a0a;
    color: #f9f7f7;
}
.swbtn .al:hover,.ar:hover{
    
    color: #392a2a;
    background-color: transparent;
    border: 1px solid #4c3838;
    transition: all .2s linear;
}
.swbtn .al > a,
    .ar >a {
	text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swbtn .al > a:hover,
.ar>a:hover {
    color: #250a0a;
	text-decoration: none;
}





/* 設定全部圖片無邊框*/
img{
	border: 0;
}
/* article總設定 */
article {
    /* padding: 50px 100px 50px 100px; */
    /* border: 1px solid red; */
    background-color:transparent;
}

/* 各articles */
#artnews {
    background-color:transparent;
    /* height: 100vh; */
}
/*brilliant collabs的照片設定*/
/* 照片靠右對齊的section設定 */
.imageunit {
    margin: 0;
    overflow: hidden;  /* 自動隱藏超出的文字或圖片。*/
}
.imageunit img {
    float: left;  /* 靠左浮動*/
    margin-right: 50px;
}
.imageunit p {
    margin: 1 2 1em;  /* 外距 上  左右  下*/
}

/* footer*/
footer{
    background-color: #2C2A2A;
    color: white;
	padding: 60px;
}
.footertop{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px;
}
.footertopleft{
    width: 30%;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footertopleft img{
   width: 25%;
   padding-bottom: 10px;
 }
.footertopright{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

.fbtna >a{
    display: flex;
    flex-wrap: wrap; 
    margin:10px 0;
    font-size: 14px;
}
.fbtna p{
    margin: 10px 0;
    font-size: 14px;
    color:#9a948d;
}
.sm{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    padding-right: 10px;
}
/* 回到本頁開頭 */
.pagetop {
    color: white;
    text-align: right;
    padding-bottom: 5px;
}

/* 著作權資訊 */
.copyright {
    border-top: solid 1px #f4f1ee;
    text-align: center;
	padding-top: 10px;
    font-size: 12px;
    margin: 20px;
}

/* rwd */

#menu-switch{
    display: none;
}
.rwdbtn{
    display: none;
}
.main-nav>ul>li:nth-child(6),
.main-nav>ul>li:nth-child(7){
    display: none;
}
 
@media screen and (max-width: 768px) {
    header{
        width: 100%;
    }
    .logo{
        position: absolute;
        margin: auto;
    }
    .icon{
        z-index: -10;
        display: none;
    }
    .hb{
        position: absolute;
        top: 20%;
        right: 15%;
        display: block;
    }
    .hb label{
        width: 40px;
        height: 40px;
        background-color:  #2C2A2A;
        display: block;
        position: relative;
    }
    .main-nav>ul>li:nth-child(6),
.main-nav>ul>li:nth-child(7){
    display:block;
}
    .main-nav {
        position: absolute;
        z-index: 9;
        width: 100%;
        height: 100vh;
        /* height: calc(100vh - 30px); */
        background-color: rgb(24, 8, 6); 
        top: 100%;
        left: 0%;
        translate: -100% 0%;
        opacity: 0;
        transition: opacity 1s, translate 0s 1s; */
    }
    .main-nav >ul{
        display: flex;
        flex-direction:column;
        align-items: center;
        margin: 20px;
    }
    .main-nav li + li{ 
        border-top: 1px solid #fff;
    }
    #menu-switch:checked + .main-header .main-nav{
        translate: 0% 0%;
        opacity: 1;
        transition: opacity 1s;
    }
    .hb span{
        width: 80%;
        height: 1px;
        background-color: rgb(250, 234, 234);
        position: absolute;
        inset: 0;
        margin: auto;
    }
    .hb span:nth-child(1){
        translate: 0px -10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
                    rotate 0.3s 0s;
    }
    .hb span:nth-child(2){
        opacity: 1;
        transition: opacity 0.3s 0.6s;
    }
    .hb span:nth-child(3){
        translate: 0px 10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
                    rotate 0.3s 0s;
    }
    #menu-switch:checked + .main-header .hb span:nth-child(1){
        translate: 0px 0px;
        rotate: 45deg;
        transition: translate 0.3s 0.3s,
                    rotate 0.3s 0.6s;
    }
    #menu-switch:checked + .main-header .hb span:nth-child(2){
        opacity: 0;
        transition: opacity 0.3s;
    }
    #menu-switch:checked + .main-header .hb span:nth-child(3){
        translate: 0px 0px;
        /*rotate: -45deg;*/
        rotate: 315deg;
        transition: translate 0.3s 0.3s,
                    rotate 0.3s 0.6s;
    }
    .mainvisual img {
        width: 100%;
        height: 25vh;
    }
    .mainvisual .wop{
        /* position: absolute; */
        width: 100%;
        font-size: 60px ;
        /* right: 270px; */
        margin-top:-4% ;
        color: #fff;
        /* border: 1px solid red;  */
    }
    h1{
        font-size: 60px;
    }
    .hnewsm{
        display: none;
    }
}

    @media screen and (max-width: 414px) {
        .body{
            max-width: 414px;
        }
        .hb{
            position: absolute;
            top: 20%;
            right: 5%;
            display: block;
        }
        .mainvisual img {
            height: 25vh;
        }
        .mainvisual .wop{
            /* position: absolute; */
            width: 100%;
            font-size: 60px ;
            height: fit-content;
            /* right: 270px; */
            margin-top:-5.8% ;
            color: #fff;
            /* border: 1px solid red;  */
        }
        h1{
            font-size: 40px;
        }
        section{
            width: 100%;
        }
        .hnews{
            width: 100%;
            flex-direction: column;
            
        }
        .hnewsr,
        .hnewsl{
            width: 70%;
        }
        .

        article{
            padding: 0px 0px 0px 0px;
        }
        .footertopleft{
            display:none;
         }
         .footertopright{
            flex-direction: column;
            width: 90%;
         }
        .footerbtn{
            display:none;
         }
         .footerbtn:nth-child(1){
            display:block;
         }
         .footerbtn:nth-child(3){
            display:block;
         }
         .sm{
            /* border:1px solid red; */
            display: flex;
            justify-content: flex-start ;
         } 
         .sm img{
            margin: 10px;
         }
        }
    
 