@charset "UTF-8";
@import url(hhttps://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap);
         /* google雲端字體*/
/* CSS Document */

/* RESET */
*{
    font-family:'EB Garamond',serif ;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
/*超連結設定*/
a{
	color: #9a948d;
	text-decoration: none;
}

a:hover{
	color:#e5ec9e;
	text-decoration: none;
}

/* header 導覽列 */
header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
.navigation { 
    display: flex;
    background-color: #2C2A2A;
    height: 80px;
    margin: 0;
    padding: 1px;   
    position: relative;
    justify-content: space-around;
    align-items: center;

}
.navigation .logo img{
    width: 75px;
    height: 75px;
    /* border: 1px solid red; */
}
.navigation ul li {
    list-style-type: none;
    display: inline-block;
    margin: 16px 16px;
    /* border: 1px solid red; */
}
.navigation .icon {
    width: 150px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.navigation .icon img{
    width: 16px;
    height:16px;
}
/* border隔開，也可改用偽元素 */
.navigation .icon .bag{
    border-left:1.25px solid white;
    padding-left: 25px;  
    border-right:1.25px solid white;
    padding-right: 25px;  
}
.navigation .icon:hover {
    background-blend-mode: color red;
}
.navigation ul li a {
    color: #ffffff;
    text-decoration: none;
    position: relative;
}
.navigation ul li a:hover {
    color: #e5ec9e;
}
.navigation ul li a::after{
    content:"";
    display:block;
    width: 0;
    height: 1px;
    background-color: #e5ec9e;
    position:absolute;
    right: 0;
    transition:.4s;
}
.navigation ul li a:hover::after {
    color:#e5ec9e;
    width: 100%;
    left: 0;
}



/* 主要大圖視覺 */
.mainvisual {
    background-color: #fff;
    position: relative;
}
.mainvisual img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    padding-top: 81px;
    height: 86vh;
}
.mainvisual .wop{
    position: absolute;
    width: fit-content;
    height: fit-content;
    right: 290px;
    bottom:26px;
    color: #fff;
    /* border: 1px solid red;  */
    
}
.btnrsec {
    margin: 5% 0 0 0;
    /* border: 1px solid red; */
}
/* body */
body {
	font-family:"EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap";/* google雲端字體*/
    margin: 0;
    -webkit-text-size-adjust: 100%;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.2rem;
}

/* 標題 */
h1 {
    font-size: 120px;
    font-weight: 450;
    color: #faf8f6;
    text-align: center;
    text-shadow: 0px -4px 6px rgba(37, 31, 31, 0.7);
}
/* 標題 */
h2{
	font-size: 32px;
	color: #583912;
    text-align: center;
    padding-bottom: 5%;
    position: relative;
}
.h2bsru::before {
    width: 70%;
    height: 1px;
    background-image: linear-gradient(to left, #390d0d 0%, #713838 50%, transparent 50%); /** toleft横向 to bottom纵向**/
    background-size: 8px 1px;
    background-repeat: repeat-x; /** x轴上的渐变 横向的虚线 **/
    position: absolute;
    content: '';
    top:1%;
    left: 15%;
}

h3 {
    padding-left: 20%;/* 標題三左側設定間距 */
}

/*button設定*/

.btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5%;
}
.btn div {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 14px;
    margin: 15px;
    text-align: center;
    cursor: pointer;
    color: #392a2a;
    background-color: transparent;
    border: 1px solid #4c3838;
    transition: all .2s linear;
}

 .btn div:hover{
    background-color: #250a0a;
    font: #fff;
}

.btn > div a{
    color: #140d05;
	text-decoration: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn > div a:hover{
	color:#f9fbfb;
	text-decoration: none;
}
/*bestseller設定*/
.bsrup,
.bsrdown {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    
}
.bf{
    width: 25%; 
    /* border: 2px solid red;  */
}
.bf p{
    margin-top: 15%;
}
.f{
    position: relative;
    height: 60%;
}
.f img{
    border-radius: 0 10% 0 10%;
    width: 100%;
    height: 100%;

}
/*想做hover還沒做*/
/* .f img:hover{
    
} */
.bf .ps1 {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    transform: translateY(45%);
    font-size: 16px;
    cursor: pointer;
    color: #1e0a07;
    text-decoration: none;
    background-color:#D9D9D9;
    transition: all .2s linear;
}
.bf .ps {
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    transform: translateY(45%);
    font-size: 16px;
    cursor: pointer;
    color: #e4e499;
    text-decoration: none;
    background-color:rgb(41, 12, 12);
    transition: all .2s linear;
}
.bf .ps:hover{
	color:#1b1e1e;
    /* border: 1px solid #4c3838; */
    /* background-color: transparent; */
	text-decoration: none;
}
.bf .ps >a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:40px;
    color: #f7f5f2;
	text-decoration: none;
}
.bf .ps >a:hover{
    color: #f7e096;
	text-decoration: none;
}
.pps{
    position: absolute;
    right: 0px;
    bottom: -18px;
    transform: translateX(50%); 
    width: 80%;
    /* border: 1px solid red;  */
}

.pps img{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.proitseld{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}


/* 滑頁按鈕 */

.swbtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.swbtn{
    display: flex;
}
.swbtn .pn1,.pn2 {
    width: 35px;
    height: 30px;
    border-radius: 5px;
    font-size: 16px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    color: #392a2a;
    background-color: transparent;
    border: 1px solid #4c3838;
    transition: all .2s linear;
}
.swbtn .pn1:hover,.pn2:hover{
    background-color: #250a0a;
    color: #f9f7f7;
}

.swbtn .pn1 > a,
    .pn2 >a {
	text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swbtn .pn1 > a:hover,
.pn2 >a:hover {
	color:#f9fbfb;
	text-decoration: none;
}
.swbtn .al,.ar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 14px;
    margin: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #250a0a;
    color: #f9f7f7;
}
.swbtn .al:hover,.ar:hover{
    
    color: #392a2a;
    background-color: transparent;
    border: 1px solid #4c3838;
    transition: all .2s linear;
}
.swbtn .al > a,
    .ar >a {
	text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swbtn .al > a:hover,
.ar>a:hover {
    color: #250a0a;
	text-decoration: none;
}









/* 設定全部圖片無邊框*/
img{
	border: 0;
}
/* article總設定 */
article {
    padding: 50px 0px 50px 0px;
    /* border: 1px solid red; */
}
section{
    height: 200px;
}

/*brilliant collabs的照片設定*/
/* 照片靠右對齊的section設定 */
.imageunit {
    margin: 0;
    overflow: hidden;  /* 自動隱藏超出的文字或圖片。*/
}
.imageunit img {
    float: left;  /* 靠左浮動*/
    margin-right: 50px;
}
.imageunit p {
    margin: 1 2 1em;  /* 外距 上  左右  下*/
}

/* footer*/
footer{
    background-color: #2C2A2A;
    color: white;
	padding: 60px;
}
.footertop{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px;
}
.footertopleft{
    width: 30%;
    font-size: 14px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footertopleft img{
   width: 25%;
   padding-bottom: 10px;
 }
.footertopright{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

.fbtna >a{
    display: flex;
    flex-wrap: wrap; 
    margin:10px 0;
    font-size: 14px;
}
.fbtna p{
    margin: 10px 0;
    font-size: 14px;
    color:#9a948d;
}
.sm{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    padding-right: 10px;
}
/* 回到本頁開頭 */
.pagetop {
    color: white;
    text-align: right;
    padding-bottom: 5px;
}

/* 著作權資訊 */
.copyright {
    border-top: solid 1px #f4f1ee;
    text-align: center;
	padding-top: 10px;
    font-size: 12px;
    margin: 20px;
}
 