<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <meta name="description" content="PONG。">  <!-- 提供搜尋引擎關於網頁頁面內的重要資訊-->
    <link rel="stylesheet" href="../css/stylenews.css"> <!-- 連結到STYLEPONG.css-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <link rel="icon" href="../IMG/labelicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="../IMG/labelicon.ico" type="image/x-icon"/>
</head>
<body>
<input type="checkbox" name="" id="menu-switch">
</head>
<body>
    <div id="app">
        <input type="checkbox" name="" id="menu-switch">
<header class="main-header">
    <div class="navigation">
        <div class="logo"><a href="index.html"><img src="../IMG/PONGLOGO.svg"></a></div>
        <nav class="main-nav"> <!-- 導覽列設定開始-->
            <ul>
                <li v-for="item in navlist" >
                    <a :href="item.href"> {{item.content}} </a>
                </li>
            </ul>
          </nav>  
        <div class="icon">
                <div v-for="item in iconlist" :class="item.class"><a :href="item.href"><img :src="item.src"></a></div>
        </div>
    </div>  

    <div class="hb">
      <label for="menu-switch">
          <span></span>
          <span></span>
          <span></span>
      </label>
    </div>
</header>
                           <!-- 導覽列設定結束-->
    
<main> 
        <!--第一大塊主視覺圖片以及大標題-->
        <div class="mainvisual"><img src="../IMG/news_mainvisual.png" alt="">
            <div class="wop">
                <h1>NEWS</h1>
            </div>
       </div>
<section id="newschoice">      
       <form class="choice">
        <select name="topic" class="ct">
        　<option :value="item.value" v-for="item in topiclist">{{item.value}}</option>
        </select>
        </form>
        <form class="choice">
            <select name="date" class="cd">
            　<option :value="item.value" v-for="item in datalist">{{item.value}}</option>
            </select>
        </form>
</section>

<article id="newsitselfup">
<!-- 第一個article，命名為artnews-->
<article id="artnews">  
    <div class="hnews">
      <div class="hnewsl" v-for="item in newlist">  <!-- 類別開始，設定固定寬度900px-->
         <div><img :src="item.src" alt="" ></div>
         <div class="blanknews">
            <div class="tag"><a href="NEWS.html">LATEST LAUNCH</a></div>
            <div class="tags"><p>{{item.date}}</p></div>
         <p>{{item.content}}</p>
         </div>
      </div>

    </div>

    <h2 class="dotline"></h2>
</article>

<!-- 第一個article，命名為artnews-->
<article id="artnews">  
    <div class="hnews">
      <div class="hnewsl">  <!-- 類別開始，設定固定寬度900px-->
         <div><img src="../IMG/newsbl.png" alt=""></div>
         <div class="blanknews">
            <div class="tag"><a href="NEWS.html">LATEST LAUNCH</a></div>
            <div class="tags"><p>2023.07.20</p></div>
         <p>WHITE WONDERLAND - Launching July 22. Fresh pine, enchanting woodscape.</p>
         </div>
      </div>
      <div class="hnewsm">  <!-- 類別開始，設定固定寬度900px-->
        <div><img src="../IMG/newsbm.png" alt=""></div>
        <div class="blanknews">
            <div class="tag"><a href="NEWS.html">LATEST LAUNCH</a></div>
            <div class="tags"><p>2023.07.25</p></div>
         <p>LAVENDER MIST - Launching July 25. Soothing lavender, serene relaxation.</p>
         </div>
       </div>
      <div class="hnewsr">  <!-- 類別開始，設定固定寬度900px-->
        <div><img src="../IMG/newsbr.png" alt=""></div>
        <div class="blanknews">
            <div class="tag"><a href="NEWS.html">LATEST LAUNCH</a></div>
            <div class="tags"><p>2023.07.26</p></div>
         <p>EUCALYPTUS EUPHORIA - Launching Jul 3. Reviving eucalyptus, invigorating delight.</p>
         </div>
        </div>
    </div>

   <div class="swbtn">
    <div class="al"><a href="#">ᐊ</a></div>
    <div class="pn1"><a href="#">1</a></div>
    <div class="ar"><a href="#">ᐅ</a></div>
   </div>
</article>




<footer>
    <div class="footertop"> 
        <div class="footertopleft">
            <div class="storyfooter">
                <div ><img src="../IMG/PONGLOGO.svg" alt=""></div>
                <div><p>"PONG" is known for crafting premium and aesthetically pleasing diffusers. We create unique fragrance blends, optimizing scent diffusion for a delightful and long-lasting sensory experience.</p></div>
            </div>
        </div>
        <div class="footertopright">
            <div class="footerbtn">
             <div class="footerbtnll">
                <div>ABOUT US</div>
                <div class="fbtna">
                    <a href="ABOUTUS.html">BRAND STORY</a>
                </div>
                <div>SOCIAL MEDIA</div>
                <div class="sm">
                    <a href="#"><img src="../IMG/fb.svg" alt=""></a>
                    <a href="#"><img src="../IMG/ig.svg" alt=""></a>
                </div>
             </div>
            </div>
            <div class="footerbtn">
                <div>PRODUCT</div>
                <div class="fbtna">
                    <a href="#">HOW TO BUY</a>
                    <a href="#">HOW TO RETIURN</a>
                    <a href="#">PRIVACY POLICY</a>
                </div>
            </div>
            <div class="footerbtn">
                <div>CONTACT US</div>
                <div class="fbtna">
                    <p>TIME / MON. - FRI. 10:30 - 17:00</p>
                    <p>TEL / 02-6605 0477</p>
                    <p>E-MAIL / service@pong.tw</p>
                    <p>ADDRESS /9F., No. 46, Fuxing Rd.,
                      Zhongli Dist.</p>   
                </div>
            </div>
        </div>
    </div>
    
    
    
    
    
            <div class="footbottom">
             <p class="pagetop"><a href="#top"> ▲ back to top </a></p>
             <p class="copyright">This website is the capstone project of the 86th student of  TibaMe front-end engineer class. This platform is only for learning and display purposes<br><a href="mailto:jinjin@cute.edu.tw">reference</a></p>
            </div>
            </footer>
    
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>  
        const app = Vue.createApp({
            data () {
                return {
                    navlist:[
                        {href:'ABOUTUS.html',
                        content: 'ABOUT US',
                        },
                        {href:'NEWS.html',
                        content: 'NEWS',
                        },
                        {href:'PRODUCTS.html',
                        content: 'PRODUCTS',
                        },
                        {href:'CONTACTUS.html',
                        content: 'CONTACT US',
                        },
                        {href:'FAQS.html',
                        content: 'FAQs',
                        },
                        {href:'login.html',
                        content: 'LOGIN',
                        },
                        {href:'bag.html',
                        content: 'BAG',
                        }
                     ],

                    iconlist: [
                        {class: `login`,
                        href: `login.html`,
                        src: "../IMG/login_icon.svg"
                        },
                        {class:` bag`,
                        href: `bag.html`,
                        src:" ./IMG/bag_icon.svg"
                        },
                        {class:` search`,
                        href: `search.html`,
                        src:" ../IMG/search_icon.svg"
                        }
                    ],
                    topiclist: [
                        {value:`LASTEST LAUNCH`
                        },
                        {value:`SALE`
                        },
                        {value:`COLLABORATION`
                        },
                        {value:`NEW MATERIAL`
                        }
                    ],
                    datalist: [
                        {value:`2023 / 06`
                        },
                        {value:`2023 / 05`
                        },
                        {value:`2023 / 04`
                        },
                    ],
                    newslist: [
                        {src:`../IMG/home_news_rose.png`,
                        date: `2023.07.05`,
                        content: "ROSY CHICK, the very new product with Damask rose, will be lauched at July 01"
                        },
                        {src:`../IMG/new-um.png`,
                        date: `2023.07.10`,
                        content:" SPICED EMBERS - Launching July 10. Warm spices, cozy autumn nights."
                        },
                        {src:`../IMG/newstr.png`,
                        date: `2023.07.12`,
                        content: "CITRUS SERENADE - Launching July 12. Zesty citrus symphony, energizing aura."
                        },
                    ]




                };
            },

        }).mount('#app')
    </script>

    </body>
    </html>